@mixin h1Title {
	padding: 10px;
	text-align: center;
	font-size: 36px;
	color: $sec-color;
}

@mixin labelText {
	font-size: 24px;
	color: $sec-color;
}

@mixin inputValue {
	margin-top: 5px;
	padding: 5px;
	border-radius: 4px;
	font-size: 20px;
	color: $sec-color;
	background-color: $white-transparent;
}

@mixin pError {
	font-size: 16px;
	color: $error-color;
	visibility:hidden;
}

@mixin buttonsValue {
	margin: 0px 5px;
	padding: 5px 10px;
	font-size: 20px;
	border: 2px solid transparent;
	border-radius: 8px;
	color: $sec-color;
	background-color: $background-color;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3;
}

@mixin popupWindow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: -400px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 200px;
	background-color: $pure-white;
	border-radius: 8px;
	border: 2px solid $pure-black;
	transition: top 0.5s;
}
