@import "./colors";
@import "./mixims";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;

	background-color: $background-color;
}

.form {
	display: flex;
	flex-direction: column;
	width: 500px;
	border: 1px solid black;
	background-color: $main-color;
	border-radius: 8px;
	box-shadow: 5px 5px 5px black;

	&__title {
		@include h1Title;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: left;
		flex-direction: column;
		padding: 10px;

		&__text {
			@include labelText;
		}

		&__text-input {
			@include inputValue;
		}

		&__error {
			@include pError;
		}
	}

	.container-error {
		border: 2px solid $error-color;
	}

	&__btns {
		display: flex;
		justify-content: flex-end;
		margin: 20px 5px 20px 0px;

		&__btn {
			@include buttonsValue;
		}

		&__btn:hover {
			border: 2px solid $background-color;
			color: $background-color;
			background-color: $sec-color;
		}
	}

	&__popup {
		@include popupWindow;

		&__info {
			padding: 10px;
			font-size: 30px;
			color: $sec-color;
		}

		&__btn {
			@include buttonsValue;
			border: 1px solid $sec-color;
		}

		&__btn:hover {
			border: 2px solid $background-color;
			color: $background-color;
			background-color: $sec-color;
		}
	}
}

.show-popup {
	top: 150px;
}
